<!-- <h1>RespondLog#log</h1>
<p>Find me in app/views/respond_log/log.html.erb</p>
-->

<% @log.each do |l| %>
   <%= l.created_at %>
   <%= l.region.name %>
   <%= l.status %>
   <%= l.message %>
  </br>
<% end %>